In [51]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import pandas.util.testing as tm
from collections import Counter
import itertools as itr

In [52]:
data = pd.read_csv('movie_bd_v5.csv')
data.sample(1)

,imdb_id,budget,revenue,original_title,cast,director,tagline,overview,runtime,genres,production_companies,release_date,vote_average,release_year
969,tt0279493,25000000,41604473,Undercover Brother,Eddie Griffin|Chris Kattan|Denise Richards|Aun...,Malcolm D. Lee,He's All Action,"An Afro-American organization, the B.R.O.T.H.E...",86,Action|Comedy,Universal Pictures,5/31/2002,5.4,2002

In [53]:
data.describe()

             budget       revenue      runtime  vote_average  release_year
count  1.889000e+03  1.889000e+03  1889.000000   1889.000000   1889.000000
mean   5.431083e+07  1.553653e+08   109.658549      6.140762   2007.860773
std    4.858721e+07  2.146698e+08    18.017041      0.764763      4.468841
min    5.000000e+06  2.033165e+06    63.000000      3.300000   2000.000000
25%    2.000000e+07  3.456058e+07    97.000000      5.600000   2004.000000
50%    3.800000e+07  8.361541e+07   107.000000      6.100000   2008.000000
75%    7.200000e+07  1.782626e+08   120.000000      6.600000   2012.000000
max    3.800000e+08  2.781506e+09   214.000000      8.100000   2015.000000

# Предобработка

In [54]:
answers = {} # создадим словарь для ответов

# тут другие ваши предобработки колонок например:
data['profit'] = data['revenue'] - data['budget']
# 
def gnr_list(df):
    genres_list = []
    
    for i in df:
        for j in i:
            genres_list.append(j)

    return Counter(genres_list).most_common(3)
#
#the time given in the dataset is in string format.
#So we need to change this in datetime format
# ...

# 1. У какого фильма из списка самый большой бюджет?

Использовать варианты ответов в коде решения запрещено.    
Вы думаете и в жизни у вас будут варианты ответов?)

In [55]:
# в словарь вставляем номер вопроса и ваш ответ на него
# Пример: 
# answers['1'] = '2. Spider-Man 3 (tt0413300)'
# запишите свой вариант ответа
# answers['1'] = '...'
# если ответили верно, можете добавить комментарий со значком "+"

In [56]:
# тут пишем ваш код для решения данного вопроса:
data[data.budget == data.budget.max()].original_title

723    Pirates of the Caribbean: On Stranger Tides
Name: original_title, dtype: object

In [57]:
answers['1'] = '5. Pirates of the Caribbean: On Stranger Tides (tt1298650)'

ВАРИАНТ 2

In [58]:
# можно добавлять разные варианты решения

# 2. Какой из фильмов самый длительный (в минутах)?

In [59]:
# думаю логику работы с этим словарем вы уже поняли, 
# по этому не буду больше его дублировать
answers['2'] = '2. Gods and Generals (tt0279111)'

In [60]:
data[data.runtime == data.runtime.max()].original_title

1157    Gods and Generals
Name: original_title, dtype: object

# 3. Какой из фильмов самый короткий (в минутах)?

In [61]:
data[data.runtime == data.runtime.min()].original_title

768    Winnie the Pooh
Name: original_title, dtype: object

In [62]:
answers['3'] = '3. Winnie the Pooh (tt1449283)'

# 4. Какова средняя длительность фильмов?

In [63]:
round(data.runtime.mean())

110

In [64]:
answers['4'] = '2. 110'

# 5. Каково медианное значение длительности фильмов?

In [65]:
data.runtime.describe()

count    1889.000000
mean      109.658549
std        18.017041
min        63.000000
25%        97.000000
50%       107.000000
75%       120.000000
max       214.000000
Name: runtime, dtype: float64

In [66]:
answers['5'] = '1. 107'

# 6. Какой самый прибыльный фильм?
#### Внимание! Здесь и далее под «прибылью» или «убытками» понимается разность между сборами и бюджетом фильма. (прибыль = сборы - бюджет) в нашем датасете это будет (profit = revenue - budget)

In [67]:
# лучше код получения столбца profit вынести в Предобработку что в начале
data[data.profit == data.profit.max()].original_title

239    Avatar
Name: original_title, dtype: object

In [68]:
answers['6'] = '5. Avatar (tt0499549)'

# 7. Какой фильм самый убыточный?

In [69]:
data[data.profit == data.profit.min()].original_title

1245    The Lone Ranger
Name: original_title, dtype: object

In [70]:
answers['7'] = '5. The Lone Ranger (tt1210819)'

# 8. У скольких фильмов из датасета объем сборов оказался выше бюджета?

In [71]:
len(data.query('revenue > budget'))

1478

In [72]:
answers['8'] = '1. 1478'

# 9. Какой фильм оказался самым кассовым в 2008 году?

In [73]:
rv = data[data.release_year == 2008]['revenue'].max()
data[data.revenue == rv].original_title

599    The Dark Knight
Name: original_title, dtype: object

In [74]:
answers['9'] = '4. The Dark Knight (tt0468569)'

# 10. Самый убыточный фильм за период с 2012 по 2014 г. (включительно)?

In [75]:
loss = data[(data.profit<0) & (data.release_year >= 2012) & (data.release_year <= 2014)].profit.min() 
data[data.profit == loss].original_title

1245    The Lone Ranger
Name: original_title, dtype: object

In [76]:
answers['10'] = '5. The Lone Ranger (tt1210819)'

# 11. Какого жанра фильмов больше всего?

In [77]:
# эту задачу тоже можно решать разными подходами, попробуй реализовать разные варианты
# если будешь добавлять функцию - выноси ее в предобработку что в начале

In [78]:
df11 = data['genres'].str.split('|')
gnr_list(df11)

[('Drama', 782), ('Comedy', 683), ('Thriller', 596)]

In [79]:
answers['11'] = '3. Drama'

ВАРИАНТ 2

In [80]:
df11_2 = data['genres'].str.split('|')
df11_2 = df11_2.explode('genres')
df11_2.value_counts()

Drama              782
Comedy             683
Thriller           596
Action             582
Adventure          415
Crime              315
Romance            308
Family             260
Science Fiction    248
Fantasy            222
Horror             176
Mystery            168
Animation          139
Music               64
History             62
War                 58
Western             19
Documentary          8
Foreign              2
Name: genres, dtype: int64

# 12. Фильмы какого жанра чаще всего становятся прибыльными?

In [81]:
df12 = data[['genres','profit']]
df12['genres'] = df12['genres'].str.split('|')
df12 = df12.explode('genres')
df12[df12['profit'] > 0].groupby(['genres'])['profit'].count().sort_values(ascending=False)

ipykernel_launcher:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

genres
Drama              560
Comedy             551
Thriller           446
Action             444
Adventure          337
Romance            242
Crime              231
Family             226
Science Fiction    195
Fantasy            188
Horror             150
Animation          120
Mystery            119
Music               47
History             46
War                 41
Western             12
Documentary          7
Name: profit, dtype: int64

In [82]:
answers['12'] = '1. Drama'

# 13. У какого режиссера самые большие суммарные кассовые сборы?

In [83]:
df13 = data[['director','revenue']]
df13['director'] = df13['director'].str.split('|')
df13 = df13.explode('director')
df13.groupby(['director'])['revenue'].sum().sort_values(ascending=False)

ipykernel_launcher:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

director
Peter Jackson        6490593685
Christopher Nolan    4167548502
David Yates          4154295625
Michael Bay          3886938960
J.J. Abrams          3579169916
                        ...
David MichÃ´d           2295423
Steven Shainberg        2281089
Paul Schrader           2062066
Keanu Reeves            2054941
Simon Hunter            2033165
Name: revenue, Length: 997, dtype: int64

In [84]:
answers['13'] = '5. Peter Jackson'

# 14. Какой режисер снял больше всего фильмов в стиле Action?

In [85]:
df14 = data[['director','genres']]
df14['director'] = df14['director'].str.split('|')
df14['genres'] = df14['genres'].str.split('|')
df14 = df14.explode('director')
df14 = df14.explode('genres')
df14[df14['genres'] == 'Action'].director.value_counts().sort_values(ascending=False)

ipykernel_launcher:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
ipykernel_launcher:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

Robert Rodriguez       9
Michael Bay            7
Paul W.S. Anderson     7
Antoine Fuqua          6
Ridley Scott           6
                      ..
Robert Stromberg       1
Terry Gilliam          1
Bibo Bergeron          1
Anthony Hemingway      1
Demian Lichtenstein    1
Name: director, Length: 364, dtype: int64

In [86]:
answers['14'] = '3. Robert Rodriguez'

# 15. Фильмы с каким актером принесли самые высокие кассовые сборы в 2012 году?

In [87]:
df15 = data[['cast','revenue','release_year']]
df15['cast'] = df15['cast'].str.split('|')
df15 = df15.explode('cast')
df15_2012 = df15[df15['release_year'] == 2012]
df15_2012.groupby(['cast']).revenue.sum().sort_values(ascending=False)

ipykernel_launcher:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

cast
Chris Hemsworth      2027450773
Denis Leary          1629460639
Anne Hathaway        1522851057
Robert Downey Jr.    1519557910
Mark Ruffalo         1519557910
                        ...
Michael Nyqvist         3428048
Danny Huston            2106557
Josh Lucas              2106557
Sami Gayle              2106557
Nicolas Cage            2106557
Name: revenue, Length: 466, dtype: int64

In [88]:
answers['15'] = '3. Chris Hemsworth'

# 16. Какой актер снялся в большем количестве высокобюджетных фильмов?

In [89]:
df16 = data[['cast','budget']]
df16['cast'] = df16['cast'].str.split('|')
df16 = df16.explode('cast')
df16[df16['budget'] > df16['budget'].mean()].cast.value_counts()

ipykernel_launcher:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

Matt Damon           18
Adam Sandler         17
Angelina Jolie       16
Samuel L. Jackson    15
Eddie Murphy         15
                     ..
Sayed Badreya         1
Nick Swardson         1
Mark Walton           1
Jon Heder             1
Rick Yune             1
Name: cast, Length: 1505, dtype: int64

In [90]:
answers['16'] = '3. Matt Damon'

# 17. В фильмах какого жанра больше всего снимался Nicolas Cage?

In [91]:
df17 = data[['cast','genres']]
df17['cast'] = df17['cast'].str.split('|')
df17['genres'] = df17['genres'].str.split('|')
df17 = df17.explode('cast')
df17 = df17.explode('genres')

df17[df17['cast'] == 'Nicolas Cage'].groupby(['genres'])['cast'].value_counts().sort_values(ascending=False)

ipykernel_launcher:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
ipykernel_launcher:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

genres           cast
Action           Nicolas Cage    17
Thriller         Nicolas Cage    15
Drama            Nicolas Cage    12
Crime            Nicolas Cage    10
Fantasy          Nicolas Cage     8
Adventure        Nicolas Cage     7
Comedy           Nicolas Cage     6
Science Fiction  Nicolas Cage     4
Animation        Nicolas Cage     3
Family           Nicolas Cage     3
Mystery          Nicolas Cage     3
History          Nicolas Cage     2
Horror           Nicolas Cage     1
Romance          Nicolas Cage     1
War              Nicolas Cage     1
Name: cast, dtype: int64

In [92]:
answers['17'] = '2. Action'

# 18. Самый убыточный фильм от Paramount Pictures

In [93]:
df18 = data[['original_title','production_companies','profit']]
df18['production_companies'] = df18['production_companies'].str.split('|')
df18 = df18.explode('production_companies')

temp_df18 = df18[df18['production_companies'] == 'Paramount Pictures']
temp_df18[temp_df18['profit'] == temp_df18['profit'].min()].original_title

ipykernel_launcher:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

925    K-19: The Widowmaker
Name: original_title, dtype: object

In [94]:
answers['18'] = '1. K-19: The Widowmaker (tt0267626)'

# 19. Какой год стал самым успешным по суммарным кассовым сборам?

In [95]:
df19 = data[['revenue','release_year']]
df19.groupby(['release_year'])['revenue'].sum().sort_values(ascending=False)

release_year
2015    25449202382
2014    23405862953
2013    23213799791
2012    23079001687
2011    22676791872
2010    21071204961
2009    20261791024
2008    18252781990
2007    18162406801
2004    15663430720
2005    15309425558
2006    14775042320
2003    14346123312
2002    14136361487
2001    13017764865
2000    10664099805
Name: revenue, dtype: int64

In [96]:
answers['19'] = '5. 2015'

# 20. Какой самый прибыльный год для студии Warner Bros?

In [97]:
df20 = data[['production_companies','release_year','profit']]
df20['production_companies'] = df20['production_companies'].str.split('|')
df20 = df20.explode('production_companies')

df20_wb = df20[df20['production_companies'].str.match('Warner Bros',na=False)]
df20_wb.groupby(['release_year'])['profit'].sum().sort_values(ascending=False)

ipykernel_launcher:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

release_year
2014    2292949646
2007    2201675217
2008    2134595031
2010    1974712985
2011    1871393682
2003    1844008221
2009    1822454136
2013    1636453400
2004    1631933725
2005    1551980298
2001    1282142579
2012    1258020056
2002    1022709901
2015     870368348
2006     625351872
2000     452631386
Name: profit, dtype: int64

In [98]:
answers['20'] = '1. 2014'

# 21. В каком месяце за все годы суммарно вышло больше всего фильмов?

In [99]:
df21 = data.copy()
df21['month'] = pd.to_datetime(data['release_date']).dt.month
df21['month'].value_counts().sort_values(ascending=False)

9     227
12    190
10    186
8     161
3     156
4     149
6     147
11    146
7     142
5     140
2     135
1     110
Name: month, dtype: int64

In [100]:
answers['21'] = '4. Сентябрь'

# 22. Сколько суммарно вышло фильмов летом? (за июнь, июль, август)

In [101]:
df22 = data.copy()
df22['month'] = pd.to_datetime(data['release_date']).dt.month
len(df22.loc[df22['month'].isin([6, 7, 8])])

450

In [102]:
answers['22'] = '2. 450'

# 23. Для какого режиссера зима – самое продуктивное время года?

In [103]:
df23 = data[['original_title','director','release_date']]
df23['director'] = df23['director'].str.split('|')
df23 = df23.explode('director')
df23['month'] = pd.to_datetime(df23['release_date']).dt.month
df23[df23['month'].isin([1, 2, 12])].groupby(['director'])['original_title'].count().sort_values(ascending=False)

ipykernel_launcher:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

director
Peter Jackson        7
Steven Soderbergh    6
Clint Eastwood       6
Shawn Levy           4
Adam Shankman        4
                    ..
John Luessenhop      1
John Musker          1
John Polson          1
Callan Brunker       1
Xavier Palud         1
Name: original_title, Length: 358, dtype: int64

In [104]:
answers['23'] = '5. Peter Jackson'

# 24. Какая студия дает самые длинные названия своим фильмам по количеству символов?

In [105]:
df24 = data[['production_companies','original_title']]
df24['production_companies'] = df24['production_companies'].str.split('|')
df24 = df24.explode('production_companies')
df24['title_lenght'] = df24['original_title'].str.len()
df24.groupby(['production_companies'])['title_lenght'].mean().sort_values(ascending=False)

ipykernel_launcher:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

production_companies
Four By Two Productions       83.0
Jim Henson Company, The       59.0
Dos Corazones                 47.0
Polsky Films                  46.0
Museum Canada Productions     46.0
                              ...
Everest Entertainment          3.0
Berlanti Productions           3.0
Global Entertainment Group     2.0
XM2 Productions                2.0
Ixtlan Productions             2.0
Name: title_lenght, Length: 1771, dtype: float64

In [106]:
answers['24'] = '5. Four By Two Productions'

# 25. Описание фильмов какой студии в среднем самые длинные по количеству слов?

In [107]:
df25 = data[['original_title','overview','production_companies']]
df25['production_companies'] = df25['production_companies'].str.split('|')
df25 = df25.explode('production_companies')
df25['overview_lenght'] = df25['overview'].str.split(' ').str.len()
df25.groupby(['production_companies'])['overview_lenght'].mean().sort_values(ascending=False)

ipykernel_launcher:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

production_companies
Midnight Picture Show                    175.0
Heineken Branded Entertainment           161.0
Room 9 Entertainment                     161.0
98 MPH Productions                       159.0
Brookwell-McNamara Entertainment         156.0
                                         ...
Henceforth                                13.0
Our Stories Films                         13.0
London Boulevard                          13.0
Motion Picture Corporation of America     11.0
Empire Pictures                           11.0
Name: overview_lenght, Length: 1771, dtype: float64

In [108]:
answers['25'] = '3. Midnight Picture Show'

# 26. Какие фильмы входят в 1 процент лучших по рейтингу? 
по vote_average

In [109]:
df26 = data[['original_title','vote_average']]
df26['original_title'][df26['vote_average'].quantile(0.99)<df26['vote_average']]

9                                          Inside Out
34                                               Room
118                                      Interstellar
119                           Guardians of the Galaxy
125                                The Imitation Game
128                                         Gone Girl
138                          The Grand Budapest Hotel
370                                         Inception
599                                   The Dark Knight
872                                       The Pianist
1081    The Lord of the Rings: The Return of the King
1183                          The Wolf of Wall Street
1191                                 12 Years a Slave
1800                                          Memento
Name: original_title, dtype: object

In [110]:
answers['26'] = '1. Inside Out, The Dark Knight, 12 Years a Slave'

# 27. Какие актеры чаще всего снимаются в одном фильме вместе?

In [111]:

df27 = data[['original_title','cast']]

df27['cast_comb'] = df27['cast'].str.split('|').apply(lambda x: list(itr.combinations(sorted(x),2)))
df27 = df27.explode('cast_comb')
df27['cast_comb'].value_counts()

ipykernel_launcher:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

(Emma Watson, Rupert Grint)            8
(Daniel Radcliffe, Rupert Grint)       8
(Daniel Radcliffe, Emma Watson)        8
(Helena Bonham Carter, Johnny Depp)    6
(Ben Stiller, Owen Wilson)             6
                                      ..
(Michael Pitt, Ryan Gosling)           1
(Billy Connolly, Debra Messing)        1
(James Earl Jones, Margaret Avery)     1
(Adrien Brody, Rinko Kikuchi)          1
(Meryl Streep, Sebastian Stan)         1
Name: cast_comb, Length: 17943, dtype: int64

In [112]:
answers['27'] = '5. Daniel Radcliffe & Rupert Grint'

ВАРИАНТ 2

# Submission

In [113]:
# в конце можно посмотреть свои ответы к каждому вопросу
answers

{'1': '5. Pirates of the Caribbean: On Stranger Tides (tt1298650)',
 '2': '2. Gods and Generals (tt0279111)',
 '3': '3. Winnie the Pooh (tt1449283)',
 '4': '2. 110',
 '5': '1. 107',
 '6': '5. Avatar (tt0499549)',
 '7': '5. The Lone Ranger (tt1210819)',
 '8': '1. 1478',
 '9': '4. The Dark Knight (tt0468569)',
 '10': '5. The Lone Ranger (tt1210819)',
 '11': '3. Drama',
 '12': '1. Drama',
 '13': '5. Peter Jackson',
 '14': '3. Robert Rodriguez',
 '15': '3. Chris Hemsworth',
 '16': '3. Matt Damon',
 '17': '2. Action',
 '18': '1. K-19: The Widowmaker (tt0267626)',
 '19': '5. 2015',
 '20': '1. 2014',
 '21': '4. Сентябрь',
 '22': '2. 450',
 '23': '5. Peter Jackson',
 '24': '5. Four By Two Productions',
 '25': '3. Midnight Picture Show',
 '26': '1. Inside Out, The Dark Knight, 12 Years a Slave',
 '27': '5. Daniel Radcliffe & Rupert Grint'}

In [114]:
# и убедиться что ни чего не пропустил)
len(answers)

27